# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
backup-butler

# Build and cache directories
/build/
bin/
dist/
.tmp/
.idea/
.vscode/
node_modules/
vendor/
.cache/
.cache-loader/
.nuxt/
.next/
out/
public/
dist/
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Go Module Cache
/go/pkg/

# env file
.env

# Trunk
.backup-butler-simplified/
.trunk/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
EOF

# repo for ai
repomix-output.txt
.repomixignore

# python (for blackbox testing)
venv/
__pycache__/
/$HOME/backup-logs
